<div class="alert fade-in" role="alert">
	<h4>Your Browser is Incompatible</h4>
	<p>In order to properly view this application, please upgrade to the latest version of your browser:
		<ul>
			<li>Internet Explorer (<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">click to download</a>)</li>
			<li>Chrome (<a href="https://www.google.com/chrome/browser/desktop/index.html">click to download</a>)</li>
		</ul>
	</p>
</div>