html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title FrontierView
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		h4 Your browser is not compatible with this application!
		p 
			| Please upgrade to the latest version of Internet Explorer (
			a(href="http://windows.microsoft.com/en-us/internet-explorer/download-ie") click to download
			| ) or Chrome (
			a(href="https://www.google.com/chrome/browser/desktop/index.html") click to download
			| ).